{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "importOrder": [
    "^@/apis",
    "^@/apis/(.*)$",
    "^@/store/(.*)$",
    "^@/react-query/(.*)$",
    "^@/hooks/(.*)$",
    "^@/data/(.*)$",
    "^@/utils/(.*)$",
    "^@/components/(.*)$",
    "^@/images/(.*)$",
    "^@/styles/(.*)$",
    "^@/assets/(.*)$",
    "^@/types",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
